html{
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    margin-bottom: 0px;
    font-size: 50px;
}


img{
    width: 32px;
    transition: 0.3s;
}

img:hover{
    opacity: 0.2;
}